body {
  color: bisque;
  background-image: url("https://st.depositphotos.com/2660985/3252/i/950/depositphotos_32529501-stock-photo-african-background.jpg");
}

.jumbotron {
  background-color: rgba(133, 33, 33, 0.00);
  text-align: center;
}

.container {
  background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/59/55/03/27/700_FO59550327_b0411f588eebb6fef98bf5c95646ce41.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/stickers-african-background-design-template-for-cover-design.jpg.jpg");
  border-radius: 10px;
  margin: 30px;
}

.card {
  background-color: rgba(133, 33, 33, 0.40);
  margin: 10px;
  padding: 2%;
}

.card h3 {
  text-align: center;
}

.card p {
  padding: 0 2% 0 2%;
}

.card-header {
  background-color: rgba(163, 39, 39, 0.5);
}

.form-control {

}